In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv(r"C:\Users\abhi\Downloads\train.csv")
df_test  = pd.read_csv(r"C:\Users\abhi\Downloads\test.csv")

In [3]:
df_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [5]:
df_train.shape

(7613, 5)

In [6]:
df_train['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [7]:
df_train.isna().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [8]:
df_train.fillna("",inplace=True)

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7613 non-null   object
 2   location  7613 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [10]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [11]:
def remove_punct(text):
    punct = "".join([i for i in text if i not in string.punctuation])
    return punct

In [12]:
df_train['text'] = df_train['text'].apply(lambda x:remove_punct(x))

In [13]:
# df_train.head()

In [14]:
df_train['text'] = df_train['text'].apply(lambda x:x.lower())

In [15]:
def tokenize(text):
    token = text.split()
    return token

In [16]:
df_train['text'] =df_train['text'].apply(lambda x:tokenize(x))

In [17]:
df_train.head()

,id,keyword,location,text,target
0,1,,,"[our, deeds, are, the, reason, of, this, earth...",1
1,4,,,"[forest, fire, near, la, ronge, sask, canada]",1
2,5,,,"[all, residents, asked, to, shelter, in, place...",1
3,6,,,"[13000, people, receive, wildfires, evacuation...",1
4,7,,,"[just, got, sent, this, photo, from, ruby, ala...",1

In [18]:
df_train['keyword'].unique()

array(['', 'ablaze', 'accident', 'aftershock', 'airplane%20accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew%20up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown%20up', 'body%20bag', 'body%20bagging',
       'body%20bags', 'bomb', 'bombed', 'bombing', 'bridge%20collapse',
       'buildings%20burning', 'buildings%20on%20fire', 'burned',
       'burning', 'burning%20buildings', 'bush%20fires', 'casualties',
       'casualty', 'catastrophe', 'catastrophic', 'chemical%20emergency',
       'cliff%20fall', 'collapse', 'collapsed', 'collide', 'collided',
       'collision', 'crash', 'crashed', 'crush', 'crushed', 'curfew',
       'cyclone', 'damage', 'danger', 'dead', 'death', 'deaths', 'debris',
       'deluge', 'deluged', 'demolish', 'demolished', 'demolition',
       'derail', 'derailed', 'derailment', 'desolate', 'desolation',
       'destroy', 'destroyed', 'destruction', 'detonate', 'detonation',
       'devastated', 'devastation', 'disaster', 'displaced', 'drought',
       'drown', 'drowned', 'drowning', 'dust%20storm', 'earthquake',
       'electrocute', 'electrocuted', 'emergency', 'emergency%20plan',
       'emergency%20services', 'engulfed', 'epicentre', 'evacuate',
       'evacuated', 'evacuation', 'explode', 'exploded', 'explosion',
       'eyewitness', 'famine', 'fatal', 'fatalities', 'fatality', 'fear',
       'fire', 'fire%20truck', 'first%20responders', 'flames',
       'flattened', 'flood', 'flooding', 'floods', 'forest%20fire',
       'forest%20fires', 'hail', 'hailstorm', 'harm', 'hazard',
       'hazardous', 'heat%20wave', 'hellfire', 'hijack', 'hijacker',
       'hijacking', 'hostage', 'hostages', 'hurricane', 'injured',
       'injuries', 'injury', 'inundated', 'inundation', 'landslide',
       'lava', 'lightning', 'loud%20bang', 'mass%20murder',
       'mass%20murderer', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'natural%20disaster', 'nuclear%20disaster',
       'nuclear%20reactor', 'obliterate', 'obliterated', 'obliteration',
       'oil%20spill', 'outbreak', 'pandemonium', 'panic', 'panicking',
       'police', 'quarantine', 'quarantined', 'radiation%20emergency',
       'rainstorm', 'razed', 'refugees', 'rescue', 'rescued', 'rescuers',
       'riot', 'rioting', 'rubble', 'ruin', 'sandstorm', 'screamed',
       'screaming', 'screams', 'seismic', 'sinkhole', 'sinking', 'siren',
       'sirens', 'smoke', 'snowstorm', 'storm', 'stretcher',
       'structural%20failure', 'suicide%20bomb', 'suicide%20bomber',
       'suicide%20bombing', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval',
       'violent%20storm', 'volcano', 'war%20zone', 'weapon', 'weapons',
       'whirlwind', 'wild%20fires', 'wildfire', 'windstorm', 'wounded',
       'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [19]:
df_train['keyword'] = df_train['keyword'].apply(lambda x: tokenize(x))

In [20]:
df_train.head()

,id,keyword,location,text,target
0,1,[],,"[our, deeds, are, the, reason, of, this, earth...",1
1,4,[],,"[forest, fire, near, la, ronge, sask, canada]",1
2,5,[],,"[all, residents, asked, to, shelter, in, place...",1
3,6,[],,"[13000, people, receive, wildfires, evacuation...",1
4,7,[],,"[just, got, sent, this, photo, from, ruby, ala...",1

In [21]:
df_train.drop(columns=['id']  ,inplace=True)

In [22]:
# df_train.head()

In [23]:
import nltk

In [24]:
stopwords = nltk.corpus.stopwords.words('english')

In [25]:
def remove_stopwords(text):
    stop = [i for i in text if i not in stopwords]
    return stop

In [26]:
df_train['text']=df_train['text'].apply(lambda x:remove_stopwords(x))

In [27]:
df_train.head()

  keyword location                                               text  target
0      []           [deeds, reason, earthquake, may, allah, forgiv...       1
1      []               [forest, fire, near, la, ronge, sask, canada]       1
2      []           [residents, asked, shelter, place, notified, o...       1
3      []           [13000, people, receive, wildfires, evacuation...       1
4      []           [got, sent, photo, ruby, alaska, smoke, wildfi...       1

In [28]:
from nltk.stem.porter import PorterStemmer

In [29]:
stemm = PorterStemmer()

In [30]:
def stemming(text):
    stemmer = [stemm.stem(i) for i in text ]
    return stemmer

In [31]:
df_train['text'] = df_train['text'].apply(lambda x:stemming(x))

In [32]:
from nltk.stem import WordNetLemmatizer


lemm = WordNetLemmatizer()

In [33]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\abhi\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [34]:
def lemmatize(text):
    lemmatizer = [lemm.lemmatize(i) for i in text]
    return lemmatizer

In [35]:
df_train['text'] = df_train['text'].apply(lambda x:lemmatize(x))

In [36]:
df_train.head()

  keyword location                                               text  target
0      []            [deed, reason, earthquak, may, allah, forgiv, u]       1
1      []                [forest, fire, near, la, rong, sask, canada]       1
2      []           [resid, ask, shelter, place, notifi, offic, ev...       1
3      []           [13000, peopl, receiv, wildfir, evacu, order, ...       1
4      []           [got, sent, photo, rubi, alaska, smoke, wildfi...       1

In [37]:
df_train['text_str'] = df_train['text'].apply(lambda x: ' '.join([str(ele) for ele in x]))

In [38]:
df_train['text_str'].head()

0             deed reason earthquak may allah forgiv u
1                 forest fire near la rong sask canada
2    resid ask shelter place notifi offic evacu she...
3    13000 peopl receiv wildfir evacu order california
4    got sent photo rubi alaska smoke wildfir pour ...
Name: text_str, dtype: object

In [39]:
from sklearn.feature_extraction.text import CountVectorizer

In [40]:
vect = CountVectorizer()

In [41]:
x= vect.fit_transform(df_train['text_str'])

In [42]:
x.shape

(7613, 19288)

In [43]:
x_train = x.toarray()

In [44]:
# This x_train can be used directly to train a model
x_train = np.array(x_train)

In [45]:
y_train = df_train['target']

In [46]:
x_train.shape

(7613, 19288)

In [47]:
y_train.shape

(7613,)

In [48]:
from sklearn.linear_model import LogisticRegression

In [49]:
lr = LogisticRegression(random_state=42)

lr.fit(x_train,y_train)

LogisticRegression(random_state=42)

In [50]:
pred = lr.predict(x_train)

In [51]:
from sklearn.metrics import accuracy_score

In [52]:
accuracy_score(y_train,pred)

0.9621699724156049

In [53]:
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [54]:
df_test.fillna('',inplace=True)

In [55]:
df_test.drop(columns=['id','keyword','location'],inplace=True)

In [56]:
df_test.head()

                                                text
0                 Just happened a terrible car crash
1  Heard about #earthquake is different cities, s...
2  there is a forest fire at spot pond, geese are...
3           Apocalypse lighting. #Spokane #wildfires
4      Typhoon Soudelor kills 28 in China and Taiwan

In [57]:
df_test['text']= df_test['text'].apply(lambda x: remove_punct(x))
# df_test['text']= df_test['text'].apply(lambda x: x.lower)
df_test['text']= df_test['text'].apply(lambda x: tokenize(x))
df_test['text']= df_test['text'].apply(lambda x: remove_stopwords(x))
df_test['text']= df_test['text'].apply(lambda x: stemming(x))
# df_test['text']= df_test['text'].apply(lambda x: lemmatize(x))

In [58]:
df_test['text_str'] = df_test['text'].apply(lambda x: ' '.join([str(ele) for ele in x ]))

In [59]:
df_test['text_str'].head()

0                        just happen terribl car crash
1        heard earthquak differ citi stay safe everyon
2    forest fire spot pond gees flee across street ...
3                       apocalyps light spokan wildfir
4                typhoon soudelor kill 28 china taiwan
Name: text_str, dtype: object

In [60]:
df_test['text'].shape

(3263,)

In [61]:
df_test.shape

(3263, 2)

In [62]:
x_test = vect.transform(df_test['text_str'])

In [63]:
x_test.shape

(3263, 19288)

In [64]:
x_test = x_test.toarray()

In [65]:
x_test = np.array(x_test)

In [66]:
x_test.shape

(3263, 19288)

In [67]:
y_pred = lr.predict(x_test)

In [68]:
y_pred

array([1, 1, 1, ..., 1, 1, 0], dtype=int64)

In [69]:
submission = pd.read_csv(r"C:\Users\abhi\Downloads\test.csv")

In [70]:
submission['target'] = y_pred

In [89]:
submission.head(15)

,id,keyword,location,text,target
0,0,NaN,NaN,Just happened a terrible car crash,1
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",1
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",1
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,1
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,1
5,12,NaN,NaN,We're shaking...It's an earthquake,1
6,21,NaN,NaN,They'd probably still show more life than Arse...,0
7,22,NaN,NaN,Hey! How are you?,0
8,27,NaN,NaN,What a nice hat?,0
9,29,NaN,NaN,Fuck off!,0
10,30,NaN,NaN,No I don't like cold!,0
11,35,NaN,NaN,NOOOOOOOOO! Don't do that!,0
12,42,NaN,NaN,No don't tell me that!,0
13,43,NaN,NaN,What if?!,0
14,45,NaN,NaN,Awesome!,0

In [79]:
submission['target'].value_counts()

0    2096
1    1167
Name: target, dtype: int64

In [87]:
test_string = vect.transform(['i am walking in fire'])

In [88]:
lr.predict(test_string)

array([1], dtype=int64)